<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Strona główna.</title>
</head>
<body>
<form name="doctorForm" method="get" action="/response">
    <table>
        <tr>
            <td>Wybierz specjalizacje lekarza:</td>
            <td>
                <select>
                    <option value="--"></option>
                    <option th:each="doctor:${doctors}"
                            th:value="${doctor.id}"
                            th:text="${doctor.specialization}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input name="submit" type="submit">
            </td>
        </tr>
    </table>
</form>

</body>
</html>